#calendar2 {
    width: 100%;
    height: 100%;          
    font: monospace;
    line-height: 1.2em;
    font-size: 15px;
    text-align: center;
}
#calendar2 thead tr:last-child {
    font-size: small;
    color: rgb(85, 85, 85);
}
#calendar2 thead tr:nth-child(1) td:nth-child(2) {
    color: rgb(50, 50, 50);
}
#calendar2 thead tr:nth-child(1) td:nth-child(1):hover, #calendar2 thead tr:nth-child(1) td:nth-child(3):hover {
    cursor: pointer;
}



#calendar2 tbody td:nth-child(n+6), #calendar2 .holiday {
    color: rgb(231, 140, 92);
}
#calendar2 tbody td.today {
    background: rgb(220, 0, 0);
    color: #fff;
}


.click {
    border: 2px solid Black;
}
.one {
    width: 80%;
    padding-right: 10%;
    order: 1; /* Первый блок */
    flex: 1;
}
.two {
    width: 10%;

    order: 2; /* Второй блок */
}
.three {
    width: 10%;

    order: 3; /* Третий блок */
}
.flex-conteiner{
    width: 100%;
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: row;
    align-items: center; /* Выравнивание текста по вертикали */
	justify-content: center; /* Выравнивание текста по горизонтали */
}
.flexitem1{
    width: 50%;
    height: 80vh;
    margin: 2%;
}
.flexitem2{
    width: 50%;
    height: 80vh;
	margin-right: 10px;
    background: #508694;
    padding: 0 1% 0 1%;
    display: flex;
    flex-direction: column;
}
.taskArea{
    width: 100%;
    height: 70%;
    background: #ffffffaa;
    margin: 1%;
}
.buttons{
    width: 100%;
    height: 10%;
    background: #508694;
    display: flex;    
    margin: 1%;
    align-items: center; /* Выравнивание текста по вертикали */
    justify-content: center;       
}

.flex-button{
	cursor: pointer;
    width: 33.3%;
    height: 100%;
    padding: 0;
    margin: 1%;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

select{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
}

textarea{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Стиль для кнопок */
button {
    background-color: #138FC211;
	border-style: solid;
    border-color: #065A7E;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    	color: #fff;
    	background: #065A7Eff;
		border-style: solid;
		border-color: #065A7E;
    	tansition: all .3s linear;
    	-webkit-transition: all .3s linear;
    	-moz-transition: all .3s linear; 
}

.timer{
    width: 100%;
    margin: 1%;
    height: 10%;
    background: #508694;
    display: flex;
    flex-direction: row;    
}

.time{
    width: 80%;
    height: 100%;
    background: #71BFE155;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: solid;
    border-color: #065A7E;
    display: flex;
}

#time{
	color: white;
	font-size: 18px;
}

p{
    margin: 0;
    padding: 0;
}

.timer-button{
    height: 100%;
    width: 90%;
	border-style: solid;
    border-color: #048839;
	border-radius: 8px;
	background: #0CD15B;
}

.timer-button:hover{
	background: #048839;
	border-color: #048839;
}

.stop-button{
    height: 100%;
    width: 90%;
	border-style: solid;
    border-color: #A62305;
	border-radius: 8px;
	background: #FF6D4A;
}

.stop-button:hover{
	background: #A62305;
	border-color: #A62305;
}

.timerButtonBlock{
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center; /* Выравнивание текста по вертикали */
    justify-content: center;  
    padding: 0 0 0 1%;  
}

button:hover {
    opacity: 0.8;
}

/* Для кнопки отмены */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/*Тоже для отмены(в рег) */
.cancelbtnr {
	width: 50%;
    padding: 14px 20px;
    background-color: #f44336;
}

/* Красиво */
 .signupbtn {
  float: right;
  width: 50%;
}

.container {
    width: 100%;
    padding: 16px;
}

span.psw {
    float: right;
    color: #000000;
    padding-top: 16px;
}

/* Бэкграунд */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* Кнопка закрытия */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Зум анимация */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

#taskTable{
    width: 100%;
}

.selectlines {
	background-color:#345E88;
	color: #ffffff;
}

.headTaskTable{
    background: #fefefe;
}

.searchLine{
    width: 100%;
    display: flex;
    height: 40px;
    flex-direction: row;
}

.btnSearch{
    width: 10%;
    margin: 1%;
    height: 100%;
}

#search{
    height: 100%;
    margin: 1%;
    padding: 5px;
    font-size: 20px;
    font: monospace;
}


/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn, .cancelbtnr, .signupbtn  {
       width: 100%;
    }
}